{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="{% static 'js/marvelcomics_api.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/MarvelComicsLayout.css' %}">
        <title>{% block title %}The Marvel Comic Shelf{% endblock %}</title>
    </head>
    <!-- Nav Section -->
    <header>
        <ul class="navbar">
            <li><a class="nav-btn" href="{% url 'marvelcomics_home' %}">HOME</a></li>
            <li><a class="nav-btn" href="{% url 'marvelcomics_create' %}">ADD A COMIC</a></li>
            <li><a class="nav-btn" href="{% url 'marvelcomics_shelf' %}">YOUR SHELF</a></li>
            <li><a class="nav-btn" href="{% url 'marvelcomics_bs' %}">WEB SCRAPER</a></li>
            <li><a class="nav-btn" href="{% url 'marvelcomics_api' %}">JARVIS API</a></li>
        </ul>
    </header>

    <!-- Body Section -->
    <body class="background">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>

    <!-- Footer Section -->
    <footer>
        <p>Copyright &copy; 2023 | The Marvel Comic Shelf </p>
    </footer>
</html>