{% extends "marvelcomics_base.html" %}

{% block content %}
<div class="container-home">
    <div>
        <h1 class="h1-welcome">Welcome to The Marvel Comic Book Shelf</h1>
        <p>The Marvel Comic Book Shelf is here to help you keep track of all your Marvel Comics</p>
        <p>All you need to enter is the Title and Issue Number of your comics! A description is optional</p>
        <p>We also have a webscraper for Old Marvel Comic Covers and a Jarvis API to tell you the
        weather in New York City!</p>
    </div>
</div>
{% endblock %}