{% extends "marvelcomics_base.html" %}

{% block content %}

<h1 class="shelf">YOUR SHELF</h1>
<table>
    <thead>
        <tr>
            <th class="name">Comic Book Name:</th>
            <th class="issue">Issue Number:</th>
        </tr>
    </thead>
    <tbody>
        {% for comics in comic %}
        <tr>
            <td><a class="book_name" href="{% url 'marvelcomics_details' comics.pk %}">{{ comics.name }}</a></td>
            <td>{{ comics.issue }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button class="btn"><a href="{% url 'marvelcomics_create' %}">Add Comic</a></button>

{% endblock %}